.title {
    font-size:  100px;
    text-align: center;
    margin-top: 2em;
  }


  .counters {
    white-space: nowrap; /* Prevent line breaks */
  }
  
  .counters h2,
  .counters h1 {
    display: inline-block; /* Make them inline-block elements */
    margin-right: 10px; /* Add some spacing between the counters */
  }

.background {
    background-image: url("IMG_0996.jpg");
    background-size: cover;
    background-attachment: fixed;   }
    

header {
    padding: 1em;
    text-align: center;
  }

h1 {
    text-align: center;
    font-size:  50px;
    color: white;

}

.images, img {
    width: 100px;
    height: auto;
    white-space: nowrap; 
    display: inline-block; 
    text-align: center;
    margin-left: 20px;
    margin-right: 90px;
    margin-top:50px;
    visibility: hidden;
}


button {
    background-color: #96e699; /* Green */
    border: none;
    color: rgb(5, 100, 54);
    padding: 15px 32px;
    font-size:  50px;
  }
